<div class="w-100  d-flex justify-content-center align-items-center"
    style="background-image: url('https://c0.wallpaperflare.com/preview/389/615/630/business-businessman-communication-concept.jpg');background-size: contain; height: 91vh;">
    <div class="w-75 shadow row p-5 bg-light  ">
        <div class="col-lg-8">
            <img class="w-75" src="https://wallpapercave.com/wp/wp7728231.png" alt="">
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center ">
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <h1>Login Form</h1>
                <div class="mt-3">
                    <input type="email" #emailip="ngModel" name="email" [(ngModel)]="email" class="form-control"
                        id="floatingInput" placeholder="Email" type="text" email required>
                </div>
                <div *ngIf="emailip.invalid && emailip.touched" emailip class="mt-3 text-danger">
                    invalid email
                </div>
                <div class="mt-3">
                    <input type="password" #passwordin="ngModel" name="password" [(ngModel)]="password" class="form-control"
                        id="floatingPassword" placeholder="Password" type="password" required pattern="[a-zA-z0-9]*"
                        minlength="4">
                </div>
                <div *ngIf="passwordin.invalid && passwordin.touched" emailip class="mt-3 text-danger">
                    invalid email
                </div>
                <button [disabled]="loginForm.invalid" class="mt-3 w-100 btn btn-warning" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>